.section {
    background: dodgerblue;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    width: 670px;
    margin: 20px;
    position: absolute;
    bottom: 20px;
    height: 485px;
    margin-left:300px;
  }

  .img{
    margin-top: 8px;
    height: 285px;
    width: 200px;
    margin-left: 15px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .bod {
   
     
  }

  .name {
    font-size: 30px;
   margin-left: 230px;
  margin-top: 20px;
   top :0;
   position: inherit;
   overflow-y: auto;
    overflow-x: hidden;
  }
  .idNumber {
    margin-left: 230px;
    position: inherit;
    margin-top: 65px;
    overflow-y: auto;
    overflow-x: hidden;
  }